body {
    text-align: center;
    background-color: #044042;
}

h1 {
    font-size: 5rem;
    color: #cdf16a;
    font-family: cursive;
    text-shadow: 3px 0 #fcf046;
}

.all {
    margin: 10% auto;
}

.animation {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
    scale: 0.75;
}

.button {
    outline: none;
    border: 10px solid #fcff3b;
    font-size: 5rem;
    font-family: "Arvo", cursive;
    line-height: 2;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 3px 0 #000000;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0);
}